NEXT_PUBLIC_AZURACAST_BASE=https://radio.amarmash.com
NEXT_PUBLIC_OWNCAST_BASE=https://stream.amarmash.com
YOUTUBE_CHANNEL_ID=UClikcoIG3vxfTdmgKnoUgEw
NEXT_PUBLIC_DOCS_URL=https://docs.example.com
NEXT_PUBLIC_FORUM_ENABLED=false
